.loading p{
    color: grey;
    text-align: center;
    margin-top: 20px;
}

.taskError {
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background-color: lightcoral;
}
