@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 12px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 4px solid #808080;
}
.navbar h1 {
  color: #FF8C00;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 12px;
}
.navbar a:hover {
  color: #FF8C00;
}
.home {
  max-width: 600px; /* defines box width */
  margin: 0 auto;   /* defines margins for the box */
  padding: 20px;    /* define padding between the box and other items (not items inside the box)*/
  text-align: center; /* text-allign allign text inside the box */
}

.task-list{
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.task-list h1{
  padding: 12px;
}

.task-preview {
  width: 500px;
  padding: 14px;
  margin: 0 auto;
}

.task-preview h2{
  color: #FF8C00;
}

.task-preview:hover{
  box-shadow: 1px 1px 5px 3px #808080;
}

.home button{
  width: 80px;
  margin: 10px;
  padding: 5px;
  background-color: #FF8C00;  
  border-style: solid;
  border-color: #DCDCDC;
  border-width: 3px;
  border-radius: 25px;
}

.home button:hover{
  background-color: red;
}

.home button:active{
  background-color: #B22222;
}